body {
    padding-top: 70px;
}

.navbar .navbar-inverse {
    text-align: center;
    color: white;
 }

 .navbar-inverse .navbar-brand, .navbar-inverse a{
    color:white;
  }

 .navbar-inverse .navbar-nav>li>a {
    color: white;
 }

.projects {
    display: flex;
    margin: 50px 90px;
    font-size: 1.2em;
}

.image{
  height: 200px;
}
.image > img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
.footer{
  background-color: black;
}
