body {
    padding-top: 70px;
    text-align: center;
    background-color: #FDF5E6;
    /* #F6F6F6 #F5F3EE #F0F8FF #FFEFD5*/
}

.nav {
    font-size: 1.5em;
}

.navbar-brand{
  font-size: 1.9em;
}

.navbar .navbar-inverse {
    text-align: center;
    color: white;
 }

 .navbar-inverse .navbar-brand, .navbar-inverse a{
    color:white;
  }

 .navbar-inverse .navbar-nav>li>a {
    color: white;
    padding: 15px 15px;
 }

.navbar-nav>li>a:hover{
  text-decoration: underline;
}

 #contact a:hover {
    color: grey;
}

h2{
  font-size: 60px;
  margin: 30px auto;;
  font-family: sans-serif;
  font-weight: 400;
}

.bio {
  font-family: sans-serif;;
  margin: 50px auto;;
  font-size: 32px;
  max-width: 800px;
  line-height: 39px;
  font-weight: 300;
}

#projects{

}

.flex-container {
  padding:0;
  margin: 50px auto;
  list-style: none;
  width: 90%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-around;

}

.flex-item {
  background:;
  padding: 20px;
  width: 450px;
  margin: 10px 10px;
  line-height: 10px;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  border-radius: 10px;
}

.image{
  width: 375px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,.9);
  margin: 10px;
  opacity: 1;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.image:hover{
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
  opacity: .5;
}

.title{
  font-family: serif;
  font-size: 2.0em;
  text-align: center;
}

.footer{
  background-color: black;
}
