.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;
  }
  
  .footer-links{
    display: flex;
    justify-content: space-around;
    width: 25rem;
    font-size: 1.5rem;
  }
  
  i{
     color: black;
  }
  
   i:hover{
    color: #1875D1;
    cursor: pointer;
  }
  
  .copy {
    margin-bottom: 5rem;
    text-align: center
  }
  