
  .home-wrapper{
    padding: 3em;
    margin: 0 auto;
    text-align: center;
  }

  .info-container {
    margin: 0 auto;
    width: 70%; 
  }

  .name{
        font-family: fantasy;
        font-size: 4rem;
  }

  .title{
    font-family: fantasy;
        font-size: 2rem;
  }
  .about{
    font-family: fantasy;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
 
  .social-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  a{
     color: black;
     text-decoration: none;
  }

   a:hover{
    color: #1875D1;
    cursor: pointer;
  }


  @media all and (max-width: 430px){
    .social-container{
        flex-flow: column wrap;
    }
    .social-container a{
        padding-top: 1em;
    }

}



 

   
  
  