
.projects-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 81vw;
    padding: 1em;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.projects-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;  
    margin: 0 auto;
    padding: 2em;
    list-style: none; 
    flex: 1; 
}


@media all and (max-width: 900px)  {
    .projects-list {
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

@media all and (max-width: 600px)  {
    .projects-list {
        width: 100vw;
    }

}
